* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(
    --default-font-family,
    ui-sans-serif,
    system-ui,
    sans-serif,
    "Apple Color Emoji",
    "Segoe UI Emoji",
    "Segoe UI Symbol",
    "Noto Color Emoji"
  );
}

.body {
  margin: 0;
  width: 100%;
  background-color: #fff;
}

#container {
  align-items: flex-start;
  display: flex;
  width: 600px;
  height: 93px;
}

.flexcontainer {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 55px;
  padding: 82px 62px;
}

header {
  display: flex;
  flex-shrink: 0;
  display: block;
}

.user {
  display: flex;
  /* align-items: flex-start; */
  gap: 10px;
  width: 600px;
}

.info {
  display: flex;
  flex-direction: column;
  /* align-items: flex-start; */
  /* justify-content: space-between; */
  justify-content: flex-start;
  gap: 10px;
}

.avatar {
  border-radius: 50%;
}

.name {
  font-weight: 400;
  font-size: 20px;
  margin-top: 5px;
}

.description {
  color: rgb(85, 85, 85);
  font-size: 14px;
}

.website {
  display: flex;
  justify-content: center;
  color: rgb(85, 85, 85);
  background-color: rgb(246, 246, 246);
  border-radius: 12px;
  padding: 5px 10px 6px;
  font-size: 12px;
  font-weight: 400;
  width: 120px;
}

.container--2 {
  width: 600px;
  gap: 40px;
}

.container--3 {
  display: flex;
  width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 4px;
  padding: 0 0;
}

.aboutinfo {
  align-items: center;
}

.dexterinfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 100px;
}

.abouttext {
  color: rgb(17, 17, 17);
  font-size: 14px;
  font-weight: 500;
  font-style: normal;
  text-align: left;
  line-height: 1.4;
  margin-bottom: 10px;
}

.dexterinfo {
  color: rgb(85, 85, 85);
  font-size: 14px;
  line-height: 1.4;
}

.maincontwork {
  width: 600px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  gap: 30px;
}

.yearexperience {
  flex-direction: row;
  display: flex;
  gap: 50px;
}

.yearexperience1 {
  flex-direction: row;
  display: flex;
  gap: 100px;
}

.yearexperience2 {
  flex-direction: row;
  display: flex;
  gap: 34px;
}

.worksection {
  display: flex;
  justify-content: flex-start;
  font-size: 14px;
  font-weight: 400px;
}

.workyearsgap {
  display: flex;
  gap: 0px;
}

.workyears {
  color: rgb(109, 109, 109);
  font-size: 14px;
}

.workyears1 {
  color: rgb(109, 109, 109);
  font-size: 14px;
  display: flex;
  width: 100px;
}

.city {
  color: rgb(85, 85, 85);
  font-size: 14px;
}

.senoir {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.link {
  font-size: 14px;
  font-weight: 400;
}

a::link {
  text-decoration: none;
}

.contwork {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.dexterimg {
  border-radius: 8px;
}

.imgdiv {
  display: flex;
  gap: 7px;
}

.picturecity {
  margin-bottom: 25px;
}

.link-footer {
  display: flex;
  width: 100px;
}

.general-post {
  display: flex;
  justify-content: flex-start;
  border: 1px solid rgba(109, 108, 108, 0.315);
  border-radius: 8px;
  width: 470px;
}

.avatar-post {
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

.name-article {
  display: flex;
  margin-top: 25px;
  margin-left: 25px;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
}

.description-article {
  color: rgb(109, 109, 109);
  font-size: 14px;
  margin-top: 10px;
  margin-left: 25px;
}

.city-bottom {
  margin-bottom: 25px;
}

.margin1 {
  margin-bottom: 35px;
}

/* Styling links */
a:link {
  color: rgb(17, 17, 17);
  text-decoration: none;
}

a:visited {
  /* color: #777; */
  color: black;
}

a:hover {
  font-weight: normal;
  text-decoration: underline black;
}
